@font-face {
    font-family: 'adler';
    src: url('../fontes/adler.ttf');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'adler';
}

/*Header*/
header{
    background-color: #eedec9;
}
.outras-paginas{
    text-decoration: none;
    color: #2c2c2c;
}
.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eedec9;
}
.navBar{
    background-color: #eedec9;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
}
.navBar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    font-family: adler;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon img{
    width: 30px;
    cursor: pointer;
}
.nav-icon img:first-child{
    margin-right: 1rem;
}
nav ul li{
    margin-right: 1.5rem;
    cursor: pointer;
}
nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.3s;
}
.menu-button{
    display: none;
}
header{
    background-color: #eedec9;

}
.header-button-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}
.header-button-side-left{
    height: 100%;
    flex-basis: 50%;
}
.header-button-side-left h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}
.header-button-side-left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.header-button-side-left button{
    background-color: gray;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    font-weight: 500;
    font-family: iron;
    font-size: 1rem;
    transition: all 0.7s;
}
.header-button-side-left button:hover{
    background-color: #2c2c2c;
}
.header-button-side-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header-button-side-right video{
    width: 100%;

}
/*/Header*/
/*Main*/
main{
    background-color: #d4c2aa;
}

.d4c2aa-background{
    background-color: #d4c2aa;
}
.page-inner{
    max-width: 1200px;
    margin: 0 auto;
}
.coluna{
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 1rem;
}
.coluna-4 img{
    max-width: 100%;
}
.coluna-4{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

}
.coluna>*{
    cursor: pointer;
    transition: all 0.2s;
}
.coluna>*:hover{
    transform: translatey(-5px);
}
.titulo{
    text-align: center;

    font-size: 1.8rem;
}
.subtitulo-underline{
    width: 100px;
    height: 5px;
    background-color: #2c2c2c;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}
.produto{
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
.nome-produto{
    font-weight: 600;
    margin-top: 0.4rem;
}
.rate{
    color: #2c2c2c;
    font-size: 1.3rem;
}
.conteudo-exclusivo{
    background-color: #2c2c2c;
    color: #fff;
    flex-direction: row-reverse;
    padding: 5rem 1rem;
}


